torchvision
sentence_transformers
ipykernel
scikit-learn
rank_bm25
cohere
python-dotenv


langchain 
chromadb 
huggingface_hub 
sentence-transformers
langchain-community
chromadb 
huggingface_hu
tiktoken 
cryptography
llama-cpp-python  # model
pypdf
google-generativeai
langchain-google-genai
unstructured
flashrank
faiss-cpu
lark


llama-index
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
llama-index-llms-gemini

langchain_groq

ipywidgets
